In [1]:
# import libarries
import os
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", 100)
import streamlit as st
from datetime import datetime
import plotly.express as plt_exp
import plotly.graph_objects as grp_obj

In [2]:
# load data
df_agg_videos  = pd.read_csv("./inputs/Aggregated_Metrics_By_Video.csv")
df_agg_country = pd.read_csv("./inputs/Aggregated_Metrics_By_Country_And_Subscriber_Status.csv")
df_comments    = pd.read_csv("./inputs/All_Comments_Final.csv")
df_videos_perf = pd.read_csv("./inputs/Video_Performance_Over_Time.csv")

In [3]:
df_agg_videos.shape

(224, 19)

In [4]:
df_agg_videos.head()

,Video,Video title,Video pub­lish time,Com­ments ad­ded,Shares,Dis­likes,Likes,Sub­scribers lost,Sub­scribers gained,RPM (USD),CPM (USD),Av­er­age per­cent­age viewed (%),Av­er­age view dur­a­tion,Views,Watch time (hours),Sub­scribers,Your es­tim­ated rev­en­ue (USD),Im­pres­sions,Im­pres­sions click-through rate (%)
0,Total,NaN,NaN,14197,39640,3902,225021,45790,229241,5.276,11.990,26.61,0:03:25,5568487,317602.3536,183451,29068.652,100954064,3.16
1,4OZip0cgOho,How I Would Learn Data Science (If I Had to St...,"May 8, 2020",907,9583,942,46903,451,46904,6.353,12.835,36.65,0:03:09,1253559,65850.7042,46453,7959.533,26498799,3.14
2,78LjdAAw0wA,100K Channel Update + AMA Stream!,"Nov 12, 2020",412,4,4,130,15,12,2.668,6.259,6.26,0:05:14,2291,200.2966,-3,6.113,188318,0.72
3,hO_YKK_0Qck,Uber Driver to Machine Learning Engineer in 9 ...,"Jul 16, 2020",402,152,15,881,9,198,9.516,11.695,15.12,0:10:21,21350,3687.3387,189,202.963,442334,2.53
4,uXLnbdHMf8w,Why I'm Starting Data Science Over Again.,"Aug 29, 2020",375,367,22,2622,40,1957,3.143,7.943,33.41,0:02:36,49564,2148.3110,1917,155.779,521185,4.01

In [5]:
df_agg_videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Video                                 224 non-null    object
 1   Video title                           223 non-null    object
 2   Video pub­lish time                   223 non-null    object
 3   Com­ments ad­ded                      224 non-null    int64
 4   Shares                                224 non-null    int64
 5   Dis­likes                             224 non-null    int64
 6   Likes                                 224 non-null    int64
 7   Sub­scribers lost                     224 non-null    int64
 8   Sub­scribers gained                   224 non-null    int64
 9   RPM (USD)                             224 non-null    float64
 10  CPM (USD)                             222 non-null    float64
 11  Av­er­age per­cent­age viewed (%)     224 non-null    float64
 12  Av­er­age view dur­a­tion             224 non-null    object
 13  Views                                 224 non-null    int64
 14  Watch time (hours)                    224 non-null    float64
 15  Sub­scribers                          224 non-null    int64
 16  Your es­tim­ated rev­en­ue (USD)      224 non-null    float64
 17  Im­pres­sions                         224 non-null    int64
 18  Im­pres­sions click-through rate (%)  224 non-null    float64
dtypes: float64(6), int64(9), object(4)
memory usage: 33.4+ KB

In [6]:
df_agg_videos = df_agg_videos.dropna()

In [7]:
df_agg_videos = df_agg_videos.rename(columns = {'Video' : 'id',
                                      'Video title': 'title',
                                      'Video pub­lish time': 'publish_time',
                                      'Com­ments ad­ded': 'comments_added',
                                      'Shares': 'shares_cnts',
                                      'Dis­likes': 'dislikes_cnts',
                                      'Likes': 'likes_cnts',
                                      'Sub­scribers lost': 'sub­scribers_lost',
                                      'Sub­scribers gained' : 'sub­scribers_gained',
                                      'RPM (USD)': 'rpm_usd',
                                      'CPM (USD)': 'cpm_usd',
                                      'Av­er­age per­cent­age viewed (%)' : 'avg_percentage_views',
                                      'Av­er­age view dur­a­tion': 'avg_view_duration',
                                      'Views': 'views_cnts',
                                      'Watch time (hours)': 'watch_time_hrs',
                                      'Sub­scribers': 'sub­scribers',
                                      'Your es­tim­ated rev­en­ue (USD)': 'es­tim­ated_rev­en­ue_usd',
                                      'Im­pres­sions': 'impressions',
                                      'Im­pres­sions click-through rate (%)': 'im­pres­sions_click_through_rate'
                                      }
)

In [8]:
df_agg_videos.head(2)

,id,title,publish_time,comments_added,shares_cnts,dislikes_cnts,likes_cnts,sub­scribers_lost,sub­scribers_gained,rpm_usd,cpm_usd,avg_percentage_views,avg_view_duration,views_cnts,watch_time_hrs,sub­scribers,es­tim­ated_rev­en­ue_usd,impressions,im­pres­sions_click_through_rate
1,4OZip0cgOho,How I Would Learn Data Science (If I Had to St...,"May 8, 2020",907,9583,942,46903,451,46904,6.353,12.835,36.65,0:03:09,1253559,65850.7042,46453,7959.533,26498799,3.14
2,78LjdAAw0wA,100K Channel Update + AMA Stream!,"Nov 12, 2020",412,4,4,130,15,12,2.668,6.259,6.26,0:05:14,2291,200.2966,-3,6.113,188318,0.72

In [9]:
df_agg_videos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221 entries, 1 to 222
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                221 non-null    object
 1   title                             221 non-null    object
 2   publish_time                      221 non-null    object
 3   comments_added                    221 non-null    int64
 4   shares_cnts                       221 non-null    int64
 5   dislikes_cnts                     221 non-null    int64
 6   likes_cnts                        221 non-null    int64
 7   sub­scribers_lost                 221 non-null    int64
 8   sub­scribers_gained               221 non-null    int64
 9   rpm_usd                           221 non-null    float64
 10  cpm_usd                           221 non-null    float64
 11  avg_percentage_views              221 non-null    float64
 12  avg_view_duration                 221 non-null    object
 13  views_cnts                        221 non-null    int64
 14  watch_time_hrs                    221 non-null    float64
 15  sub­scribers                      221 non-null    int64
 16  es­tim­ated_rev­en­ue_usd         221 non-null    float64
 17  impressions                       221 non-null    int64
 18  im­pres­sions_click_through_rate  221 non-null    float64
dtypes: float64(6), int64(9), object(4)
memory usage: 34.5+ KB

In [14]:
# df_agg_videos["publish_time"] = 
# 
pd.to_datetime(df_agg_videos["publish_time"])

1     2020-05-08
2     2020-11-12
3     2020-07-16
4     2020-08-29
5     2020-08-05
         ...
218   2019-03-03
219   2018-11-30
220   2019-05-25
221   2018-12-18
222   2019-05-05
Name: publish_time, Length: 221, dtype: datetime64[ns]